<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coders.laundry.repository.ReviewRepository">

    <insert id="insert"
            parameterType="ReviewEntity"
            useGeneratedKeys="true"
            keyProperty="reviewId"
            keyColumn="review_id">
        INSERT INTO review (
               laundry_id, writer_id, rating, contents
        ) VALUES (
               #{laundryId}, #{writerId}, #{rating}, #{contents}
        );
    </insert>

</mapper>